<form #form>
  <table class="form" *ngIf="!createdSurvey">
    <tr>
      <td colspan="2">
        <label for="title">Título</label>
        <input type="text" name="title" [ngModel]="text" (ngModelChange)="textChanged($event)" [(ngModel)]="title">
      </td>
    </tr>
   <tr>
     <td colspan="2">Adicionar Opção de Resposta:</td>
   </tr>
    <tr>
      <td>
        <input #optionTextControl type="text" name="option" [(ngModel)]="newOptionTitle">
      </td>
      <td>
        <app-button (click)="addOption(); optionTextControl.focus();" [buttonType]="ButtonTypeEnum.blue">Adicionar</app-button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <label>Opções de resposta adicionadas:</label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
            <tr *ngFor="let option of options">
              <td>
                {{option.title}}
              </td>
              <td>
                <app-button [buttonType]="ButtonTypeEnum.red"
                (click)="removeOption(option); optionTextControl.focus();">Remover</app-button>
              </td>
            </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <app-button  [disabled]="!isValid()" (click)="createSurvey()" [buttonType]="ButtonTypeEnum.green">Criar Survey</app-button>
      </td>
    </tr>
  </table>


</form>

<table class="form" *ngIf="createdSurvey">
  <tr>
    <td>Survey Criado!</td>
  </tr>
  <tr>
    <td>
      Compartilhe o link de acesso:
    </td>
  </tr>
  <tr>
    <td>
      <input #surveyLinkInput type="text" [value]="getSurveyUrl()" class="surveyLink">
      <button (click)="copyInputMessage(surveyLinkInput)" value="click to copy" >Copiar</button>
    </td>
  </tr>
  <tr>
    <td>
        <a [routerLink]="['..', '..', 'surveyadmin', createdSurvey.surveyId]">Administrar Sala</a>
    </td>
  </tr>
</table>

