<form>
  <table class="form">
    <tr>
      <td>
        <label for="name">Nome de participante:</label>
      </td>
      <td>
        <input type="text" name="name" [(ngModel)]="name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="surveyId">Survey Id:</label>
      </td>
      <td>
        <input type="text" name="surveyId" [(ngModel)]="surveyId">
      </td>
    </tr>
    <tr>
      <td colspan="2" class="centered">
        <app-button (click)="login()">Entrar</app-button>
      </td>
    </tr>
  </table>
</form>
